/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    top: 30%;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}

.overlay {
    z-index: 9999999999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    display: none;
}

/**
 Override datepicker 
*/
/* .datepicker {
    padding-left: 0px !important;
    padding-right: 0px !important;
} */

.datepicker td,
.datepicker th {
    padding: 5px;
}

/* .datepicker-dropdown {
    z-index: 100 !important;
} */


/**
Override modal lg
*/

@media (min-width: 992px) {

    /* .modal-lg,
    .modal-xl {
        max-width: 900px;
    } */

    .modal-lg {
        max-width: 900px;
    }
}


/* Override overflow datatables */
div.dataTables_wrapper {
    overflow: unset;
}

/* fieldset style */
fieldset {
    background-color: #fff;
    border: 1px solid #e6e8e8;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

fieldset legend {
    font-size: 15px;
    font-weight: bold;
    left: 10px;
    width: auto !important;
    background: inherit;
}

/* Custome Image Modal */
.thumbnail-button,
.thumbnail-button-sfa {
    cursor: pointer;
    transition: 0.3s;
}

.thumbnail-button:hover,
.thumbnail-button-sfa:hover {
    opacity: 0.7;
}

.modal-img,
.modal-img-sfa {
    display: none;
    position: fixed;
    z-index: 15;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-img-content,
.modal-img-sfa-content {
    border-radius: 20px;
    margin: auto;
    display: block;
    width: 100%;
    max-width: 800px;
    text-align: center;
    color: #e6e8e8;
    padding: 10px 0;
    height: auto;
}

.modal-img-content,
.modal-img-sfa-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.img-close,
.img-close-sfa {
    margin: auto;
    display: block;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

.img-close-btn:hover,
.img-close-btn:focus {
    background-color: #fff !important;
    color: #000 !important;
}

@media only screen and (max-width: 700px) {

    .modal-img-content,
    .modal-img-sfa-content {
        width: 100%;
    }
}


/* Override select2 */
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-style: none !important;
    height: 1rem !important;
    left: -8px !important;
}

.demo-inline-spacing>* {
    margin-top: 0.5rem !important;
    padding-bottom: .5rem !important;
}

/* Table detail */
table.table-detail td {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

table.table-detail td:first-child {
    width: 150px;
}

/* input group responsive */
@media(max-width: 399px){
    .input-group.input-daterange > .form-control,
    .input-group > .form-control{
        width: 100% !important;
        border-radius: .357rem !important;
    }

    .input-group.input-daterange .input-group-addon,
    .input-group .input-group-addon{
        visibility: hidden !important;
    }

    .input-group .input-group-append,
    .input-group .input-group-prepend{
        display: none !important;
    }
}

/* Pagination style */
.page-item.previous .page-link::before,
.page-item.next .page-link::after{
    display: none !important;
}

/* Hidden action title */
li.text-center span.dtr-title{
    display: none !important;
}

/* form di datatable */
table.datatables-ajax td .form-control{
    width: inherit !important;
}

/* Navigation */

.navigation li{
    position: relative;
    white-space: unset;
}

/* Datepicker */
.datepicker:not(.input-group){
    padding: .438rem 1rem !important;
}

.input-group.datepicker{
    padding: 0 !important;
}

form .error:not(input)
{
    color: #EA5455
}

form span.error {
    width: 100%;
    font-size: 0.857rem;
}